# Unreal Engine

**/Binaries/
**/Build/
**/DerivedDataCache/
**/Intermediate/
**/Saved/

# Visual Studio
**/.vs/
*.VC.db
*.VC.opendb
*.suo

# Rider
**/.idea/

# VS Code
**/.vscode/

# Logs
*.log

# Temporary files
*.tmp